<html>
  <head>
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/static/contacts.css">
<section class="contact">
      <div class="container">
        <h2>Contact Us</h2>
        <form>
          <p>Email: jytheswimmer@gmail.com / hanseon0523@gmail.com / jakekim070917@gmail.com</p><br>
        </form>
      </div>
    </section>
<form action="/" class="inline">
<button id="Back">Back</button><br></form>